.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

.filterContainer {
    display: flex;
    flex-direction: column;
}

.select {
    margin-bottom: 1rem;
}

.select select {
    margin: 1rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #343a40;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    appearance: none;
}

.select select:hover {
    background-color: #6c757d;
}

.select strong {
    font-size: 18px;
    font-weight: normal;
    background-color: #343a4080;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px;
    border-color: white;
}

input {
    padding: 12px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 12px 24px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6c757d;
}
