.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 1.2em;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    font-family: monospace;
    background-color: #afb1b3;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
    font-weight: bold;
}

.button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
  